// ref: https://www.dafont.com/fipps.font
@font-face {
  font-family: Fipps;
  src: url('../game/assets/Fipps-Regular.ttf');
  font-weight: normal;
  font-display: swap;
}

.yoru {
  // height: 100vh;
  font-family: Fipps;
  text-align: center;
  canvas {
    display: block;
  }
}

.loading {
  position: fixed;
  top: 20vh;
  width: 100vw;
  font-family: Fipps;
  text-align: center;
  span {
    display: inline-block;
    will-change: transform;
  }
}
