@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

$bgColor: rgba(255, 229, 0, 1);
.home {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: repeat(6, minmax(0, 1fr));
  grid-template-columns: repeat(12, minmax(0, 1fr));
  background: $bgColor;
}

.bgCanvas {
  grid-row-start: 1;
  grid-row-end: span 6;
  grid-column-start: 1;
  grid-column-end: span 12;
}
.canvasLoading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; // just smaller than header.
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bgColor;
  font-size: 5vw;
  font-family: 'Preahvihear', Tahoma, sans-serif;
  user-select: none;
  span {
    display: flex;
  }
}

.header {
  position: fixed;
  right: 2em;
  display: flex;
  z-index: 2;
}

.nav {
  display: flex;
  align-items: center;
  height: 4em;
  margin: 1em 0;
  padding: 0.5em 2em;
  background: rgba(22, 101, 52, 0.5);
  border-radius: 4em;
  ul {
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a {
        display: block;
        min-width: 6em;
        padding: 0.5em;
        background: rgba(92, 101, 22, 0.3);
        border-radius: 2em;
        color: #fff;
        text-align: center;
        font-family: 'Preahvihear', sans-serif;
        line-height: 1.6em;
        transition: background 0.3s;
        &:visited {
          color: #fff;
        }
        &:hover {
          background: rgba(92, 101, 22, 0.6);
        }
      }
    }
  }
}
@keyframes ball {
  0% {
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: translateY(0px) scaleX(1.3);
  }
  40% {
    height: 20px;
    border-radius: 50%;
  }
  100% {
    height: 20px;
    border-radius: 50%;
    transform: translateY(-60px) scaleX(1);
  }
}
@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  20% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.loading {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 5vw;
  font-family: 'Preahvihear', Tahoma, sans-serif;
  user-select: none;
}
.loadingColumn {
  width: 20px;
  &:global(:nth-child(2)) {
    .loadingBall,
    .loadingBallShadow {
      animation-delay: 0.2s;
    }
  }
  &:global(:nth-child(3)) {
    .loadingBall,
    .loadingBallShadow {
      animation-delay: 0.3s;
    }
  }
}
.loadingBall {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  transform-origin: 50%;
  animation: ball 0.5s alternate infinite ease;
  will-change: transform;
}
.loadingBallShadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  transform-origin: 50%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
  will-change: transform;
}

.closeBlend {
  position: fixed;
  top: 0;
  left: 0;
}
